<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <h4>Developing Website For School of Computer</h4>
    <h4>April to May, 2013</h4>
    <p>Designed and implemented a complete website for school of Computer, using <strong>ASP.NET</strong> and <strong>Bootstrap</strong> to develop web pages and design with frame of whole website.</p>
    <h4>Public account at Wechat </h4>
    <h4>April to June, 2015</h4>
    <p>Applied a public account at Wechat and accomplished all necessary functions by JSON code and HTML to attract more customers, including calculating shortest path between two positions and designing cartoon pictures from uploaded photo.</p>
    <h4>tudent Information Management System</h4>
    <h4>October to December, 2014</h4>
    <p>Implemented a database to store students’ information in a college and desktop application to manage those data, like revising and deleting. Using WPF to implement this desktop application, which could provide various tools and allow to design and accomplish many fluent animation effects.</p>
    <h4>Workflow Tracker</h4>
    <h4>January to February, 2016</h4>
    <p>It's the final project of course Internet Programming, I accomplished all the requirements including log in and register in safety, SQL Server Database fetched through Lamb expression and workflow's functionalities (add new projects with new steps, edit and delete them, also record all the operations done by users).</p>
    <h4>Personal Website</h4>
    <h4>July to Now, 2016</h4>
    <p>experimental website built just for fun, using html5, less, jQuery and AngularJs to implement front-end of website, using PHP and MySQL as back-end database, use git to manage code version and edit code in different computers, use gulp to pre-compile and minify css and js code. I'm still working on it to improve with more animations and functions.</p>
</div>

