<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <h4>web developer</h4>
    <h4>June to August, 2013</h4>
    <p>Interact with clients to gather website or advertisement requirements. Develop and maintain websites for clients, update most recent information accordingly. Make flash for advertising by Adobe Flash and PhotoShop.</p>
    <h4>Web front-end developing</h4>
    <h4>May to August, 2016</h4>
    <p>Familiar with multiple web developing tools like git, gulp, angular.js and so on. Learned how to take advantage of sea of useful tools in Github. Develop and maintain websites -- www.messeone.com.</p>
</div>

