<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <h4>Name</h4>
    <p>Chen Lu</p>
    <h4>Email</h4>
    <p>clu105@syr.edu</p>
    <h4>Wechat</h4>
    <p>znwz1992</p>
    <h4>LinkIn</h4>
    <p><a href="https://www.linkedin.com/in/chen-lu-814bb0111">https://www.linkedin.com/in/chen-lu-814bb0111</a></p>
</div>

