<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <h4>Sports</h4>
    <p>Badminton, tennis, volleyball</p>
    <h4>Tv shows</h4>
    <p>Devious Maid, Once Upon A Time, American Horrible Story</p>
    <h4>Music</h4>
    <p>Shake it off - Taylor Swift</p>
    <p>See you again - Wiz Khalifa</p>
    <p>Worth it - Fifth Harmony, Kid Ink</p>
</div>

