<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <p>Internet Programming <span class="text-pink">GPA: 4.0/4.0</span></p>
    <p>Data Structure<span class="text-pink">GPA: 3.8/4.0</span></p>
    <p>Algorithms<span class="text-pink">GPA: 4.0/4.0</span></p>
    <p>Web Developing and design<span class="text-pink">GPA: 4.0/4.0</span></p>
    <p>Database<span class="text-pink">GPA: 3.8/4.0</span></p>
    <p>Software Programming<span class="text-pink">GPA: 3.8/4.0</span></p>
    <p>Computer Network<span class="text-pink">GPA: 4.0/4.0</span></p>
</div>

