<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <h4>Bachelor's Degree</h4>
    <p class="text-pink">Major</p>
    <p>Computer Science and Technology</p>
    <p class="text-pink">Duration</p>
    <p>09/01/2011-07/01/2015</p>
    <p class="text-pink">School</p>
    <p><a href="http://www.hdu.edu.cn/" target="_blank">HangZhou DianZi University</a></p>
    <h4>Master's Degree</h4>
    <p class="text-pink">Major</p>
    <p>Computer Science</p>
    <p class="text-pink">Duration</p>
    <p>09/01/2015-01/01/2017</p>
    <p class="text-pink">School</p>
    <p><a href="http://www.syr.edu/" target="_blank">Syracuse University</a></p>
</div>

