<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <h4>Language</h4>
    <p>HTML5 <span class="text-pink">&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
    <p>javascript <span class="text-pink">&#9733;&#9733;&#9733;&#9734;&#9734;</span></p>
    <p>C# <span class="text-pink">&#9733;&#9733;&#9733;&#9734;&#9734;</span></p>
    <h4>Tool</h4>
    <p>jQuery <span class="text-pink">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
    <p>bootstrap <span class="text-pink">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
    <p>node.js <span class="text-pink">&#9733;&#9733;&#9734;&#9734;&#9734;</span></p>
    <p>git <span class="text-pink">&#9733;&#9733;&#9733;&#9734;&#9734;</span></p>
    <p>gulp <span class="text-pink">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
    <p>bower <span class="text-pink">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
    <p>Angular.js <span class="text-pink">&#9733;&#9733;&#9733;&#9734;&#9734;</span></p>
    <p>Handlebars.js <span class="text-pink">&#9733;&#9733;&#9733;&#9733;&#9734;</span></p>
    <h4>Software</h4>
    <p>WebStorm, Microsoft Visual Studio, DreamWeaver, SQL, PhotoShop, Flash</p>
</div>

