<div class="title">
    {{title}}
</div>
<div class="modal_content">
    <p>I spent the whole summer vacation on developing websites in a online exhibition management company which assigned me the same heavy web developing work as other regular employees, I'm still trying to develop websites and my personal website which is upcoming. I'm expecting to find full-time job of front-end or full-stack web development.</p>
</div>

